{% extends 'base.html' %}

{% block content %}

<div class="card mb-3" >
  <div class="card-body p-2 bd-highlight">
    <div class="card-header ">
      <span class="badge badge-danger">
        Tem certeza que quer excluir a tarefa abaixo?
      </span>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ task.title }}</h5>
      <p class="card-text">{{ task.description }}</p>
      <hr>
      <form method="POST">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Remover</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}